/* This stylesheet created in June 29th, 2020. */
body {
    font: 1em Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    background-color: #FFF; 
    padding: 0px; 
    margin: 0px; 
}

.title {
    background: #E7E7E7; 
    padding: 7.5px 15px; 
    max-width: 100vw; 
}

.container-page {
    background: aquamarine;
}

div.content {
    padding: 15px; 
}